.recent-custom-builds__grid {
  align-items: stretch;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;

  &-card {
    background-color: #FFF;
    border-radius: .25rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    width: 300px;

    &-name {
      background-color: #222;
      border-radius: .25rem .25rem 0 0;
      color: #FFF;
      padding: .5rem;
      text-align: center;
    }

    &-body {
      padding: 1rem;

      &-img {
        margin-top: 1rem;
        position: relative;

        &-num {
          align-items: center;
          background-color: #c6ac8f;
          border-radius: 50%;
          display: flex;
          font-weight: 600;
          height: 35px;
          justify-content: center;
          overflow: hidden;
          position: absolute;
          right: -8px;
          top: -8px;
          width: 35px;
          z-index: 100000;
        }
      }
    }

    &-footer {
      border-top: 1px solid #efefef;
      padding: .5rem;
      text-align: center;
    }
  }
}