.services {
  height: 100%;
  margin: 1rem 0 6rem 0;

  &__content {
    align-items: center;
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    justify-content: center;
    max-width: 100%;
  }

  &__items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 3rem 0;
    text-align: center;
    width: 100%;

    & i {
      color: #c6ac8f;
    }

    & p {
      margin-top: 1rem;
    }
  }

  &__item {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 0 auto;
    text-align: center;
    width: 325px;
  }

  &__shop-info {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    margin-top: 2rem;
    text-align: center;
    max-width: 100%;

    &-text {
      font-size: 1.2rem;
      max-width: 100%;
      
      &-title {
        font-size: 1.4rem;
        font-weight: 700;
        max-width: 100%;
      }
    }
  }
}

.icon-container {
  align-items: center;
  background-color: #222;
  border-radius: 50%;
  display: flex;
  height: 60px;
  justify-content: center;
  margin: 0 auto;
  width: 60px
}



.btn {
  align-self: center;
  background-color: #c6ac8f;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  padding: 1rem;
  transition: background-color .3s ease-in-out;
  width: 250px;

  &::after {
    display: inline-block;
    padding-left: .5rem;
    content: "\0279E";
    transition: transform 0.3s ease-out;
  }

  &:hover {
    background-color: #eae0d5;

    &::after {
      transform: translateX(4px);
    }
  }
}

@media (min-width: 760px) {
  .btn {
    margin-top: 0;
  }
}