.blog-posts__grid {
  margin-top: 2rem;
  text-align: center;

  &-cards {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    justify-content: center;
  }

  &-no-items {
    padding-top: 4rem;

    &_title {
      font-size: 28px;
      font-weight: 500;
    }

    &_info {
      font-size: 24px;
      font-weight: 300;
    }
  }
}