.blog-posts {
  text-align: center;

  &-no-items {
    padding-top: 4rem;

    &_title {
      font-size: 28px;
      font-weight: 500;
    }

    &_info {
      font-size: 24px;
      font-weight: 300;
    }
  }
}