.product {
  justify-self: center;
  margin-bottom: 1.5rem;
  width: 300px;

  &__card {

    &-img {
      width: 100%;
    }

    &-title {
      color: #36454F;
      font-size: .9rem;
      letter-spacing: 1.5px;
      margin-top: .5rem;
      text-transform: uppercase;
    }

    &-price {
      display: block;
      font-size: 1.5rem;
    }

    &-description {
      font-weight: 300;
      margin-bottom: 1rem;
    }

    &-buy {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }

    &-quantity {
      border: none;
      border-radius: 3px;
      font-size: 16px;
      padding: 5px;
      text-align: center;
      width: 50px;

      &:focus {
        outline: none;
      }
    }

    &-btn {
      background-color: #c6ac8f;
      border: none;
      border-radius: 5px;
      font-size: 1.1rem;
      padding: 10px 17px;

      &-buy {
        cursor: pointer;
        transition: ease-in .2s;

        &::after {
          display: inline-block;
          padding-left: .5rem;
          content: "\0279E";
          transition: transform 0.3s ease-out;
        }

        &:hover {
          background-color: #eae0d5;
      
          &::after {
            transform: translateX(4px);
          }
        }
      }
    }
  }
}