.store {
  padding-top: 100px;

  &__header {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  &__view-cart-wrapper {
    align-items: center;
    grid-area: 1 / 5 / 2 / 6;
  }

  &__view-cart {
    border: none;
    background: none;
    cursor: pointer;
    height: 48px;
    margin-right: 2rem;
    text-align: right;

    &-icon {
      height: 48px;
      width: 48px;
    }
  }

  &__title {
    font-size: 48px;
    grid-area: 1 / 3 / 2 / 4; 
    text-align: center;
  }
}