.post-container {
  height: 100%;
  margin: 75px auto;
  padding: 4rem 0;
}

.btn {
  display: block;
  margin-bottom: 2rem;
}

.blog-post{
  display: grid;
  grid-gap: 1rem;
  width: 100%;

  &__content {
    text-align: left;

    &-header {
      margin-bottom: 1rem;

      &__title {
        font-size: 1.75rem;
      }

      &__info {
        font-size: .9rem;
        font-weight: 300;
      }
    }

    &-body {
      h2 {
        line-height: 20px;
        margin-top: 2rem;
      }

      p {
        margin: 1rem auto;

        span {
          font-size: 1.1rem !important;
        }
      }

      ol {
        margin-left: 1rem;
      }
    }
  }

  &__sidebar {
    justify-self: center;
  }
}

@media (min-width: 768px) {
  .blog-post {
    grid-template-columns: 3fr 1fr;
  }
}