.dashboard {
  margin: 2rem auto;
  padding-left: 4rem;
  width: 100%;
  max-width: 1500px;

  &__section {
    
    .btn {
      align-self: flex-end;
      font-size: 1rem;
      padding: .75rem;
      width: 170px;
    }
  }
}