.more-info {
  margin: 2rem auto;
  padding-left: 4rem;
  width: 100%;
  max-width: 1500px;

  &__button-section {
    margin: 1rem auto 0 auto;
    padding-left: .5rem;
    width: 90%;
    max-width: 1500px;
  }

  .dashboard__section {
    margin-top: 1rem;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;

    &-images {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: center;

      &-img {
        width: 250px;
      }
    }

    &-build-status {
      margin: 1rem 0;

      label {
        font-size: 1.2rem;
        font-weight: 450;
      }

      &__form-buttons {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;

        & .form-button {
          background-color: #d6d3d1;
          border: none;
          border-radius: .25rem;
          cursor: pointer;
          padding: .5rem 1rem;
          transition: all .3s ease-in-out;

          &:hover {
            background-color: #c6ac8f;
          }
        }

        & .form-button-active {
          background-color: #c6ac8f;
        }
      }
    }

    &-notes {
      display: flex;
      flex-direction: column;

      label {
        font-size: 1.2rem;
        font-weight: 450;
      }

      textarea {
        border: none;
        border-radius: .25rem;
        height: 10rem;
        margin-top: 1rem;
        width: 100%;
      }
    }

    &-btn {
      background-color: #222;
      border: none;
      color: #FFF;
      cursor: pointer;
      margin-top: 1rem;
      transition: all .3s ease-in-out;

      &:hover {
        background-color: #4e4e4e;
      }
    }
  }

  &__description {
    font-size: 1.1rem;
    line-height: 1.7;
    margin: 1rem 0;
  }
}

@media (min-width: 765px) {
  .more-info {
    &__section {
      &-images {
        flex-direction: row;
      }
    }
  }
}

@media (min-width: 975px) {
  .more-info {

    &__section {
      flex-direction: row;

      &-images {
        flex-direction: column;

        &-img {
          min-width: 350px;
        }
      }
    }
  }
}