.navbar {
  &__menu-btn {
    color: #fff;
    cursor: pointer;
    display: block;
    position: fixed;
    top: 1.25rem;
    right: 30px;
    z-index: 1000;
  
    &:hover {
      opacity: .7;
    }
  }

  &__wrapper {
    align-items: center;
    background-color: #222;
    min-height: 75px;
    position: fixed;
    width: 100%;
    z-index: 100;
  }

  &__main-nav {
    align-content: center;
    display: grid;
    font-size: 1.2rem;
    margin: 1rem 0;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    z-index: 100;
  
    &-logo {
      height: 50px;
      margin-left: 1.5rem;
      margin-top: -.25rem;
      width: auto;
    }
  
    &__view-cart {
      border: none;
      cursor: pointer;
      display: grid;
      justify-content: center;
      margin-right: 2rem;
      text-align: right;
  
      &-icon {
        fill: #FFF;
        height: 30px;
        position: absolute;
        right: 6rem;
        top: 4px;
        width: 30px;
        z-index: 10000;

        &:hover {
          fill: #c6ac8f;
        }

        &:hover .navbar__main-nav__view-cart-count {
          color: #c6ac8f;
        }
  
        &-count {
          color: #FFF;
          font-size: 10px;
          font-weight: 800;
          justify-self: center; 
          position: absolute;
          right: 6.85rem;
          top: .55rem;
          z-index: 10000;
        }
      }
    }
  }

  &__main-menu {
    background-color: #222;
    display: block;
    height: 100vh;
    text-align: center;
    top: 75px;
    transition: all .5s ease-in-out;
    transform: translateX(1000px);
    width: 100%;
    z-index: 100;
  
    &_show {
      transform: translateX(0px);
    }
  
    &-link {
      margin: 1rem;
      padding: 1rem;

      & a {
        color: #fff;
  
        &:hover {
          color: #c6ac8f;
        }
      }
    }
  }
}

/* =========================== */
/* =======MEDIA QUERIES======= */
/* =========================== */
@media (min-width: 760px) {
  .navbar {
    &__menu-btn {
      display: none;
    }

    &__main-nav {
      align-items: center;
      grid-template-columns: 1fr 3fr .5fr;
      height: 75px;
      justify-content: space-between;
      margin: 0;

      &__view-cart {
        align-items: center;

        &-icon {
          position: grid;
          right: 2rem;
          top: auto;

          &-count {
            right: 2.9rem;
            top: 1.75rem;
          }
        }
      }
    }

    &__main-menu {
      align-items: center;
      background: none;
      display: grid;
      font-size: 1rem;
      max-height: 75px;
      grid-template-columns: repeat(5, min-content);
      grid-template-rows: auto-fill;
      justify-content: end;
      text-align: center;
      transform: translateX(0);
      width: 100%;

      &-link {
       margin: 0;
      }
    }
  }
}