.navbar {
  align-items: center;
  background-color: #222;
  display: flex;
  height: 75px;
  justify-content: space-between;
  padding: 0 2rem;
  position: fixed;
  width: 100%;
  z-index: 100;

  &__logo {
    height: 35px;
    margin-top: -.3rem;
    width: auto;
  }

  &__links-cart {
    align-items: center;
    display: flex;
  }

  &__menu {
    align-items: center;
    background-color: #222;
    color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 100vh;
    justify-content: flex-start;
    padding-top: 1rem;
    position: fixed;
    right: 0;
    top: 75px;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    width: 100%;

    & li a {
      color: #FFF;
    }
  }

  &-active {
    transform: translateX(0%);
  }

  &__item a:hover {
    color: #c6ac8f;
  }

  &__view-cart {
    cursor: pointer;
    display: grid;
    justify-content: center;
    margin-right: 1rem;
    position: relative;

    &:hover span{
      color: #c6ac8f;
    }

    &:hover &__icon {
      fill: #c6ac8f;
    }

    &__icon {
      fill: #FFF;
      height: 30px;
      width: 30px;
      z-index: 10000;

      &-count {
        color: #FFF;
        font-size: 10px;
        font-weight: 800;
        position: absolute;
        right: .9rem;
        top: .3rem;
        z-index: 10000;
      }
    }
  }

  &__toggler {
    color: #FFF;
    cursor: pointer;
    display: block;

    & div {
      background: #FFF;
      height: .2rem;
      margin: 0.4rem;
      transition: 0.3s ease-in;
      width: 2rem;
    }
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 7px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-6px, -9px);
}


/* =========================== */
/* =======MEDIA QUERIES======= */
/* =========================== */
@media (min-width: 769px) {
  .navbar {
    justify-content: space-around;

    &__menu {
      background-color: transparent;
      flex-direction: row;
      height: 75px;
      margin-right: 2rem;
      padding-top: 0;
      position: relative;
      transform: translateX(0%); 
      top: 0;
    }

    &__toggler {
      display: none;
    }

  }
}