.gallery {
  background-color: #eae0d5;
  background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");
  padding: 3rem 0;

  &-masonry {
    column-count: 2;
    column-gap: 1em;
  }
}

.social-media {
  align-items: center;
  display: grid;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 2rem 1rem;
  width: 100%;

  &_icons {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  &_text {
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 2rem;
    text-align: center;
  }
}

.item-container {
  height: 100%;
  overflow-y: hidden;
  margin-bottom: 1em;
  position: relative;

  .item {
    display: block;
    position: relative;
    width: 100%;
  }
}

.modal__item {
  width: 90%;
}

@media (min-width: 760px) {
  .social-media {
    grid-auto-flow: column;
    justify-content: space-around;

    &_text {
      justify-self: flex-end;
      margin-top: 0;
      text-align: right;
      width: 75%;
    }
  }

  .gallery-masonry {
    column-count: 4;
  }
}