.about-me {
  padding: 5rem 0; 
  width: 100%;

  &__content {
    align-items: center;
    display: grid;
    font-size: 1.2rem;
    font-weight: 300;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: auto-fill;
    justify-content: center;
  }

  .section-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: left;

    &:after {
      bottom: -6px;
      margin: 0;
      width: 205px;
    }
  }
}

.image-stack {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 1fr);

  &__item-bottom {
    grid-column: 1 / span 3;
    grid-row: 1;
  }

  &__item-top {
    grid-row: 1;
    grid-column: 3 / -1;
    padding-top: 40%;
    z-index: 1;
  }
}