.admin-navbar {
  background-color: #222;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.2), 0 4px 6px -4px rgb(0 0 0 / 0.2);
  min-height: 100vh;
  margin-right: 75px;
  position: fixed;
  width: 64px;
  z-index: 100;

  &__logo {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: .5rem 0;
    padding: .5rem;
    
    &-img {
      width: 50px;
    }
  }

  &__list {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-item {
      margin: 1rem auto;
      position: relative;
      text-align: center;
      width: 100%;

      &-number {
        align-items: center;
        background-color: #ef4444;
        border-radius: 50%;
        color: #FFF;
        display: flex;
        font-size: .9rem;
        height: 20px;
        justify-content: center;
        position: absolute;
        right: 5px;
        top: -10px;
        width: 20px;
      }
    }

    &-link {
      border-radius: 5px;
      color: #FFF;
      padding: 1rem;
      width: 100%;

      &:hover {
        background-color: #383838;
        color: #c6ac8f;
      }

      &-active {
        background-color: #383838;
        color: #c6ac8f;
      }
    }

    &-icon {
      height: 1.1rem;
      width: 1.1rem;
    }
  }
}